<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

  * {
    font-family: Roboto, system-ui;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-size: 14px;
    line-height: 1.6;
    padding: 0;

    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }

  span {
    font-weight: bold;
  }

  .header {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
  }

  .logo {
    padding: 10px 0;
    text-align: center;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
  }

  .content {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
  }

  .content span {
    display: block;
    font-size: 28px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .content a {
    background-color: black;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
  }

  .footer {
    border-top: 1px solid #e6e6e6;
    color: #999;
    font-size: 14px;
    margin: 20px 0;
    padding-top: 20px;
  }

  .footer div {
    background: black;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
</style>

<body>
  <div class="header">
    <h4>Bienvenido a Cheap Store</h4>
  </div>

  <p style="margin-bottom: 10px">
    Estimado(a) <span>{{ names }}</span>
  </p>
  <p>
    Gracias por registrarse en <span>Cheap Store</span>,
    para completar el proceso de activación de su cuenta asociada al correo
    <span style="text-decoration: none; color: white;">{{ email }}</span>,
    por favor utilice el siguiente código de verificación:
  </p>

  <div class="content">
    <span>{{ code }}</span>
    <p>
      También puede activar su cuenta haciendo clic en el siguiente enlace:
    </p>
    <div style="text-align: center;">
      <a href="{{ url }}">Activar mi cuenta</a>
    </div>
  </div>
  <p>Gracias</p>
  <span>El equipo de Cheap Store</span>

  <div class="footer">
    <p>
      Este correo electrónico ha sido enviado en respuesta a una solicitud de
      activación de cuenta. Si usted no ha realizado esta solicitud,
      puede ignorar este mensaje de manera segura.
    </p>
    <div>&copy; {{ year }} cheapstore</div>
  </div>
</body>